h3
{
    color:#f00;
}

#cheatsheetContainer
{
    float:left;
    width:800px;
}

div.cheatSheet
{
    float:left;
    width:300px;
    height:150px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid black;
}

div.cheatsheet .title
{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    border-bottom:1px solid black;
}

div.cheatsheet .content
{
    padding:10px;
}
